.mainContainer {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background-color: beige;
  padding: 35px 25px;
}

.stuffContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header {
  text-align: center;
}
